.img-circle {
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 26px;
}

.meetupDescription {
    display: block;
    height: 74px;
    overflow: hidden;
}

.red {
    color: red;
}

.green {
    color: green;
}