<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout-padding>
                    <div>
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>User ID</label>
                                <input ng-model="meetup.users_id">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Meetup Title</label>
                                <input ng-model="meetup.title">
                            </md-input-container>

                            <md-input-container>
                                <label>Enter date</label>
                                <md-datepicker ng-model="meetup.start_date"></md-datepicker>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>Address</label>
                            <input ng-model="meetup.location">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea ng-model="meetup.description" md-maxlength="150" rows="5"
                                      md-select-on-focus></textarea>
                        </md-input-container>
                    </div>
                </md-content>
            </div>
            <md-dialog-actions layout="row">
                <md-button ng-click="save()">
                    save
                </md-button>
                <md-button ng-click="cancel()">
                    cancel
                </md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>
</md-dialog>
