<!DOCTYPE html>
<!-- everything inside the html will be part of an Angular app -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>gSpace 2.0</title>
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="/node_modules/material-design-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body ng-app="gspace" ng-cloak>

<div ng-controller="MeetupsController">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>
                <span>gSpace</span>
            </h2>
            <span flex></span>

            <md-button
                    class="md-primary md-hue-1"
                    ng-click="showForm($event)">
                <md-icon>add</md-icon>
                Add Meetup
            </md-button>

            <md-menu>
                <md-button class="md-icon-button"
                           ng-click="openMenu($mdOpenMenu, $event)">
                    <md-icon>swap_vert</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item ng-repeat="item in menuItems">
                        <md-button
                                ng-class="{'md-accent':sorting.columnName==item.key}"
                                ng-click="sort(item.key)">
                            {{item.label}}
                            <md-icon ng-if="sorting.columnName==item.key">keyboard_arrow_{{sorting.desc?'down':'up'}}
                            </md-icon>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>
    </md-toolbar>

    <md-list>
        <div>
            <md-input-container>
                <label>Search</label>
                <input ng-model="sorting.searchTerm">
            </md-input-container>
        </div>
        <md-list-item
                class="md-padding"
                ng-repeat="meetup in meetups | filter : sorting.searchTerm |orderBy:sorting.columnName:sorting.desc ">
            <div>
                <img style="width:120px;height:120px;" ng-src="{{meetup.avatar_url}}" class="img-circle"/>
            </div>
            <div>
                <h4>{{meetup.title}}</h4>
                <span class="meetupDescription">{{meetup.description}}</span>
                <div layout="row">
                    <span>Location:{{meetup.location}}</span>
                </div>
                <div layout="row">
                    <span>Likes:</span>
                    <span ng-class="{red:meetup.likes<0, green:meetup.likes>0}">{{meetup.likes}}</span>
                </div>
                <div layout="row">
                    <span>{{meetup.start_date | date:'longDate' }}</span>
                </div>

                <div>
                    <md-button class="md-icon-button" ng-click="TODO">
                        <md-icon>comment</md-icon>
                    </md-button>
                    <span ng-if="meetup.comments.length<1">No comments yet</span>
                    <span ng-if="meetup.comments.length>0">
                        {{meetup.comments.length}}
                        <ng-pluralize count="meetup.comments.length" when="{'one': 'comment', 'other': 'comments'}"></ng-pluralize></span>

                    <div style="border:1px solid red;" ng-if="meetup.comments.length>0">
                       <div ng-repeat="comment in meetup.comments" style="margin-bottom: 20px;">
                           <div style="color:blue;">{{comment.username}}</div>
                           <div>
                               <img style="width:40px;height:40px;" ng-src="{{comment.avatar_url}}" class="img-circle"/>
                           </div>
                           <span>{{comment.body}}</span>
                       </div>
                   </div>
                </div>
                <md-button class="md-icon-button" ng-click="downvote(meetup)">
                    <md-icon>arrow_downward</md-icon>
                </md-button>
                <!-- meetup.likes didn't work because that's a number. it doesn't change the reference in memory-->
                <md-button class="md-icon-button" ng-click="upvote(meetup)">
                    <md-icon>arrow_upward</md-icon>
                </md-button>
            </div>
        </md-list-item>
    </md-list>
</div>
<script src="/node_modules/angular/angular.js"></script>
<script src="/node_modules/angular-animate/angular-animate.js"></script>
<script src="/node_modules/angular-aria/angular-aria.js"></script>
<script src="/node_modules/angular-messages/angular-messages.js"></script>
<script src="/node_modules/angular-material/angular-material.js"></script>
<script src="/node_modules/angular-resource/angular-resource.js"></script>


<script src="/scripts/app.js"></script>

</body>
</html>
